@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:500,700');

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default {
  background-color: #b5152b;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-brand .navbar-link {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
}
